<!DOCTYPE html>
<html>
  <head>
    <style>
      table,
      th,
      td {
        border: 1px solid black;
        border-collapse: collapse;
      }
      th,
      td {
        padding: 5px;
        text-align: left;
      }
      body,
      pre {
        font-family: Arial, Helvetica, sans-serif;
      }
    </style>
  </head>
  <body>
    <pre>
Dear Ma’am/Sir,

Please click on the link below and to reset the password.
<p><a href="{{protocol}}://{{domain}}/{{uid}}/{{token}}">Reset Password</a></p>
Thank You.

Regards,
Datasee.ai
</pre>
  </body>
</html>
