<style>
	body{
		background-image: linear-gradient(to top, #96fbc4 0%, #f9f586 100%);
	}
	.card-center{
		background-color: white;
    padding: 5px;
    position: fixed;
    top: 30%;
    left: 39%;
    width: 24%;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	}
	h3 {
    text-align: center;
    font-family: sans-serif;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
		}
	p {
	    padding: 26px;
	}
	form{
    padding-left: 28px;
	}

input[type="email"] {
    border: 0;
    border-bottom: 1px solid;
    width: 90%;
    padding: 10px;
    margin-left: 4px;
}
	a {
    background-color: #F7F68B;
    border: 0;
    padding: 12px;
    margin-left: 37%;
    margin-top: 25px;
    cursor:pointer;
	}
</style>
<div class="card-center">
<h3>Password reset complete</h3>

<p>Your password has been set. You may go ahead and log in now.</p>

<a href="https://www.takvaviya.in/login/?next=/">Log in</a>
</div>