<style>
	body{
		background-image: linear-gradient(to top, #96fbc4 0%, #f9f586 100%);
	}
	.card-center{
		background-color: white;
    padding: 5px;
    position: fixed;
    top: 30%;
    left: 39%;
    width: 24%;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	}
	h3 {
    text-align: center;
    font-family: sans-serif;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
		}
	p {
	    padding: 26px;
	}
	form{
    padding-left: 28px;
	}

input[type="email"] {
    border: 0;
    border-bottom: 1px solid;
    width: 90%;
    padding: 10px;
    margin-left: 4px;
}
	a {
    background-color: #F7F68B;
    border: 0;
    padding: 12px;
    margin-left: 37%;
    margin-top: 25px;
    cursor:pointer;
	}
</style>

<div class="card-center">
<h3>Password reset sent</h3>


<p>We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</p>

<p>If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.</p>

</div>